DataCenterConsoleApp/DataCenterConsoleApp/Service References/DuplexEMachineService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_NormalFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:NormalFunction" />
  </wsdl:message>
  <wsdl:message name="IService_InsertData_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertData" />
  </wsdl:message>
  <wsdl:message name="IService_NotifyServer_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyServer" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="IService_CallBackFunction_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallBackFunction" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="NormalFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/NormalFunction" message="tns:IService_NormalFunction_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertData" message="tns:IService_InsertData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/NotifyServer" message="tns:IService_NotifyServer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateData" message="tns:IService_UpdateData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallBackFunction">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CallBackFunction" message="tns:IService_CallBackFunction_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="NormalFunction">
      <soap12:operation soapAction="http://tempuri.org/IService/NormalFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InsertData">
      <soap12:operation soapAction="http://tempuri.org/IService/InsertData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <soap12:operation soapAction="http://tempuri.org/IService/NotifyServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CallBackFunction">
      <soap12:operation soapAction="http://tempuri.org/IService/CallBackFunction" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://119.9.30.37:12345/service.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://119.9.30.37:12345/service.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>